.center {
  text-align: center;
}

textarea {
  width: 100%;
  border-radius: 5px
}

textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  outline: rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.jarRes {
  /* height: 500px; */
  width: 100%;
}