.background {
  background-color: white;
}

.imgRes {
  width: 100%;
}

.darkText{
  color: rgb(0, 0, 0);
}

.lighterText{
  color: white;
}

.ready {
  transition: transform .2s;
  text-align: center;
  text-decoration: none;
}

.ready:link {
  text-decoration: none;
}

.ready:visited {
  text-decoration: none;
}

.ready:hover {
  transform: scale(1.1);
  text-decoration: none;
}