.background {
  background-color: white;
}

.imgRes {
  width: 100%;
}

.ready {
  transition: transform .2s;
  text-align: center;
  text-decoration: none;
}

.ready:link {
  text-decoration: none;
}

.ready:visited {
  text-decoration: none;
}

.ready:hover {
  transform: scale(1.1);
  text-decoration: none;
  color: #707070;
}

.here {
  text-decoration: none;
}

.here:link {
  text-decoration: none;
}

.here:visited {
  text-decoration: none;
}

.here:hover {
  color: rgb(184, 212, 207);
  text-decoration: none;
}